.navbar-container {
   display: flex;
   flex-direction: column;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
   height: 56px;
}

.navbar-menu {
   display: flex;
}
.navbar-is-mobile .navbar-toolbar {
   position: fixed;
   /* Make sure the toolbar will stay on top of the content as it scrolls past. */
   z-index: 2;
}

h1.navbar-app-name {
   margin-left: 8px;
}

.navbar-sidenav-container {
   /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
   background: #181818;
   flex: 1;
}

.navbar-is-mobile .navbar-sidenav-container {
   /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
   flex: 1 0 auto;
}

.mat-sidenav.mat-drawer {
   background-color: var(--eglos-color-primary);
   color: white;
   width: 250px;
}

.mat-drawer-inner-container {
   position: relative;
}

.navbar-icon-logout {
   position: fixed;
   bottom: 20px;
   padding-left: 10px;
}

.navbar-icon-logout .mat-icon {
   padding-left: 10px;
   width: 2rem;
   height: 2rem;
   font-size: 2rem;
   line-height: 2rem;
}

.img_avatar {
   border-radius: 50%;
   width: 40px;
   height: 40px;
   // margin-right: 20px;
   cursor: pointer;
}
