<footer id="footer" class="footer">
   <div class="copyright">
      <div class="container">
         <div class="row">
            <div class="col">
               <span>Copyright © 2022, All Right Reserved Eglos</span>
            </div>
            <!-- End Col -->
            <div class="col">
               <div class="copyright-menu">
                  <ul>
                     <li>
                        <a [routerLink]="['/dashboard']">Home</a>
                     </li>
                     <li>
                        <a [routerLink]="['/dashboard/terms']">Términos</a>
                     </li>
                     <li>
                        <a [routerLink]="['/dashboard/policy']">Política de privacidad</a>
                     </li>
                     <li>
                        <a [routerLink]="['/dashboard/contact']">Contacto</a>
                     </li>
                  </ul>
               </div>
            </div>
            <!-- End col -->
         </div>
         <!-- End Row -->
      </div>
      <!-- End Copyright Container -->
   </div>
</footer>
