* {
   margin: 0;
   padding: 0;
   font-family: sans-serif;
   // border: 1px dashed rgb(248, 240, 10);
   // background: #181818;
}
:host {
   // border: 1px dashed rgb(22, 248, 10);
   background: #fff;
}

.main {
   background: #eee;
   color: #222;
   line-height: 1.6;
   font-family: "Quicksand", sans-serif;
   padding: 1em;
   font-size: 0.8rem;
   // height: 100vh;
   // margin: auto;
   display: flex;
   justify-content: center;
   // align-items: center;
   // border: 2px dashed rgb(165, 176, 15);
   // height: 100vh;
   min-height: calc(100vh - 65px);

   .content {
      // border: 2px dashed rgb(51, 241, 4);
      // min-width: 300px;

      width: 95%;
      // max-width: 400px;
      margin-left: auto;
      margin-right: auto;
      // padding: 1rem;
      font-size: 16px;
      line-height: 30px;
      font-weight: 300;

      .content_path {
         border: 2px dashed rgb(60, 176, 15);
         display: flex;
         align-items: center;
         position: fixed;
         top: 70px;
         left: 6px;
         background-color: #33909340;
         padding: 1px 10px;
         margin-left: 12px;
         font-size: 0.8rem;
         font-weight: 600;
         border-radius: 20px;
      }

      .content__article {
         // border: 2px dashed rgb(60, 176, 15);
         padding-bottom: 1rem;
         max-width: 1300px;
         margin: 0 auto;
         position: relative;

         // > * {
         //    padding: 2rem;
         // }

         .list__article {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
            // grid-auto-flow: columns;
            grid-auto-rows: max-content;
            gap: 32px;
            margin-top: 64px;
            width: 100%;
            // border: 2px solid rgb(248, 20, 20);

            .article {
               // border: 1px solid rgb(20, 47, 248);

               .article__card {
                  // border: 3px solid rgb(6, 129, 26);
                  // position: relative;
                  overflow: hidden;
                  // border: 2px dashed rgb(60, 176, 15);
                  width: 336px;
                  margin: auto;
                  position: relative;
                  box-shadow: rgba(11, 43, 158, 0.15) 0px 6px 20px -6px;
                  box-shadow: rgb(76 72 58 / 87%) 4px 2px 15px 3px;

                  box-sizing: border-box;
                  display: block;
                  height: min-content;
                  //
                  background: rgb(255, 255, 255);
                  border-radius: 16px;

                  text-decoration: none;
                  transition: box-shadow 0.2s ease 0s, transform;

                  color: -webkit-link;
                  // cursor: pointer;

                  // Tooltips
                  .icons {
                     display: flex;
                     position: absolute;
                     top: 10px;
                     right: 10px;
                     z-index: 99;

                     .icon__edit,
                     .icon__delete {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                        background-color: #f1f1f1;
                        box-shadow: 0 4px 6px -1px #0000001a, 0 2px 4px -1px #00000099;
                        transition: 0.5s ease all;
                        cursor: pointer;
                        z-index: 1000;
                        position: relative;

                        &:hover {
                           background-color: #303030;
                           box-shadow: none;
                           color: white;

                           .tooltip.edit:before,
                           .tooltip.delete:before {
                              opacity: 1;
                           }
                        }

                        &:nth-child(1) {
                           margin-right: 8px;
                        }

                        .edit,
                        .delete {
                           display: block;
                           font-size: 1rem;
                           padding: 2px 0 0 1px;
                           pointer-events: none;
                           cursor: pointer;
                        }
                     }
                  }

                  .article__container {
                     // border: 2px solid rgb(206, 219, 26);

                     // width: 336px;

                     &:hover {
                        box-shadow: rgba(11, 43, 158, 0.15) 0px 10px 20px -2px;
                        // cursor: pointer;
                        transform: translateY(-4px);
                     }

                     &:active {
                        transform: scale(0.98);
                     }

                     .article__image {
                        .article__img {
                           margin: 0 auto;
                           display: block;
                           // max-width: 400px;
                           border-radius: 24px;
                           border-radius: 16px 16px 0px 0px;
                           width: 100%;
                           // padding: 10px;
                           height: 160px;
                           object-fit: cover;
                           border-bottom: 2px solid rgba(129, 105, 18, 0.47);
                           // box-shadow: rgba(129, 105, 18, 0.87) 4px 2px 15px 3px;
                        }
                     }

                     .article__content {
                        padding: 24px 32px;

                        .publication_date_article {
                           font-style: italic;

                           color: rgb(192, 194, 211);
                           font-size: 14px;
                           font-weight: 500;
                           line-height: 1.6;
                        }

                        .article__category {
                           margin-bottom: 30px;
                           font-size: 12px;
                           font-style: oblique;
                           text-align: center;

                           span {
                              // font-style: normal;
                              font-weight: bold;
                              color: rgb(255, 30, 255);
                              display: inline-block;
                              font-family: "JetBrains Mono", monospace;
                              font-size: 14px;
                              font-style: normal;
                              font-weight: 800;
                              letter-spacing: 1px;
                              line-height: 24px;
                              margin-bottom: 9px;
                              text-transform: uppercase;
                           }
                        }

                        .abstract_article {
                           text-align: justify;
                           margin-bottom: 30px;
                           color: rgb(8, 27, 75);
                           font-size: 18px;
                           font-weight: 500;
                           line-height: 28px;
                           margin: 8px 0px;
                           cursor: pointer;
                        }
                     }
                  }
               }
            }
         }
      }
   }
}

.text-red-500 {
   color: red;
}
.text-xs {
   font-size: 80%;
}

.italic {
   font-style: italic;
}

.ancho {
   width: 100%;
}

::ng-deep .success-snackbar {
   background: #1fcd98;
   white-space: pre-wrap;
}

// Toggle effect
.toggle-edit {
   display: flex;
   align-items: center;
   position: fixed;
   top: 70px;
   right: 60px;
   background-color: #33909340;
   padding: 2px;
   padding-left: 11px;
   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;
   border-top-right-radius: 22px;
   border-bottom-right-radius: 22px;
   z-index: 999;

   .tooltip__toggle-edit {
      span {
         position: absolute;
         top: -4px;
         font-style: italic;
         font-size: 10px;
         font-weight: 700;
         pointer-events: none;
         z-index: 99;
         opacity: 0;
         transition: opacity 500ms ease-in-out;

         &.browsing {
            right: 6%;
            color: rgb(11, 154, 52);

            &.opacity {
               opacity: 1;
            }
         }

         &.editing {
            left: 7%;
            color: rgb(230, 10, 10);

            &.opacity {
               opacity: 1;
            }
         }
      }
   }

   .add {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: white;
      margin-left: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      .add__icon {
         display: block;
         font-size: 2rem;
         color: green;
      }
   }

   // span {
   // margin-right: 16px;
   // }

   input[type="checkbox"] {
      position: relative;
      border: none;
      appearance: none;
      background-color: white;
      outline: none;
      width: 70px;
      height: 20px;
      border-radius: 20px;
      box-shadow: 0 4px 6px -1px #0000001a, 0 2px 4px -1px #00000099;
      cursor: pointer;
   }

   input[type="checkbox"]::before {
      content: "";
      position: absolute;
      width: 26px;
      height: 26px;
      border-radius: 50%;
      top: -3px;
      left: 0;
      background: #303030;
      transform: scale(1.1);
      transition: 750ms ease all;
      box-shadow: 0 4px 6px -1px #0000001a, 0 2px 4px -1px #00000099;
      z-index: 100;
   }

   input:checked[type="checkbox"]::before {
      content: "";
      background: #303030;
      left: 44px;
   }

   input[type="checkbox"]:hover + .tooltip:before {
      opacity: 1;
   }

   .add__icon:hover + .tooltip:before {
      opacity: 1;
   }

   input:checked[type="checkbox"]:hover + .tooltip:before {
      opacity: 1;
   }
}

// // Tooltips
// .icons {
//    display: flex;
//    position: absolute;
//    top: 10px;
//    right: 10px;
//    z-index: 99;

//    .icon__edit,
//    .icon__delete {
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       width: 35px;
//       height: 35px;
//       border-radius: 50%;
//       background-color: #f1f1f1;
//       box-shadow: 0 4px 6px -1px #0000001a, 0 2px 4px -1px #00000099;
//       transition: 0.5s ease all;
//       cursor: pointer;
//       z-index: 1000;
//       position: relative;

//       &:hover {
//          background-color: #303030;
//          box-shadow: none;
//          color: white;

//          .tooltip.edit:before,
//          .tooltip.delete:before {
//             opacity: 1;
//          }
//       }

//       &:nth-child(1) {
//          margin-right: 8px;
//       }

//       .edit,
//       .delete {
//          display: block;
//          font-size: 1rem;
//          padding: 2px 0 0 1px;
//          pointer-events: none;
//          cursor: pointer;
//       }
//    }
// }

.tooltip__toggle-edit,
.tooltip__add {
   position: relative;
   display: flex;
}

.tooltip {
   // position: relative; /* making the .tooltip span a container for the tooltip text */
   // border-bottom: 1px dashed #000; /* little indicater to indicate it's hoverable */
   display: flex;
   align-items: center;

   &.edit:before,
   &.delete:before,
   &.new-article:before,
   &:before {
      content: attr(data-text); /* here's the magic */
      position: absolute;

      /* vertically center */
      bottom: -15px;
      transform: translateY(100%);

      /* move to right */
      right: 10px;
      // margin-left: 15px; /* and add a small left margin */
      /* basic styles */
      width: max-content;
      padding: 0 10px;
      border-radius: 20px;
      background: #cacfb2;
      color: #01031a;
      text-align: center;
      font-size: 12px;

      // display: none; /* hide by default */
      opacity: 0;
      transition: all 500ms ease-in-out;

      z-index: 9999;
   }

   &.edit:before,
   &.delete:before,
   &.new-article:before {
      content: attr(data-text); /* here's the magic */
      position: absolute;

      /* vertically center */
      bottom: -5px;

      transform: translateY(100%);

      /* move to right */
      right: 0;
   }
   // &:hover:before {
   //    // display: block;
   //    opacity: 1;
   // }

   // &:after {
   //    content: "";
   //    position: absolute;

   //    /* position tooltip correctly */
   //    left: 100%;
   //    margin-left: -5px;

   //    /* vertically center */
   //    top: 50%;
   //    transform: translateY(-50%);

   //    /* the arrow */
   //    border: 10px solid #000;
   //    border-color: transparent black transparent transparent;

   //    display: none;
   // }
   // &:hover:before,
   // &:hover:after {
   //    display: block;
   // }
}
