// :host ::ng-deep .ck-editor__editable_inline {
//   min-height: 200px;
//   max-width: 90vh;
//   margin:  0 auto;
// }

.contain-editor {
  min-height: 200px;
  max-width: 90vh;
  margin:  0 auto;
}


p.innerH figure img,
.ck-content .image-inline img,
.ck-content .image-inline picture {
  width: 100px !important;
}
