<div class="item-article__container">
   <input autocomplete="false" name="hidden" type="text" style="display: none" />

   <div class="item-article__field-image">
      <label class="item-article__label" [for]="id">Image</label>
      <egl-img
         [id]="id"
         class="item-article__img"
         [label]="''"
         [(ngModel)]="image_item_article"
         [ngModelOptions]="{ standalone: true }"
         [imagedefault]="itemArticleUrlDefault"
         (ngModelChange)="onChangeImg($event)"
         (blur)="onTouchfn()"
         [readonly]="imgReadonly"
      ></egl-img>
   </div>

   <div class="item-article__field-editor">
      <!-- <fa-icon class="item-article__input-icon" [icon]="faKeyboard"></fa-icon> -->
      <app-editor
         class="item-article__editor"
         id="text_item_article"
         title="Texto"
         [(ngModel)]="text_item_article"
         [ngModelOptions]="{ standalone: true }"
         (ngModelChange)="onChangeText($event)"
         (blur)="onTouchfn()"
         class="form-editor"
      ></app-editor>
   </div>
</div>
