.text-red-500 {
  color: red;
}
.text-xs {
  font-size: 80%;
}

.border-red-500 {
border: 1px solid red;
}

.border-green-500 {
border: 1px solid green;
}

.italic{
font-style: italic;
}

.ancho {
  width: 100%;
}
